2025/05/iMaDd8kHcYnX3yoG
{
  "active": false,
  "connections": {
    "When clicking ‘Test workflow’": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request1": {
      "main": [
        [
          {
            "node": "HTTP Request2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-05-19T23:00:49.549Z",
  "id": "iMaDd8kHcYnX3yoG",
  "isArchived": false,
  "meta": null,
  "name": "WhatsApp automations",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -140,
        -280
      ],
      "id": "c9a2ade9-b65f-4d14-afe1-6b4d2e48eeef",
      "name": "When clicking ‘Test workflow’"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://10.194.75.13:7607/api/wanghley/tHhbE5DrRRyF8psP2rLvFqchrKUDVuzR/generate-token",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        80,
        -280
      ],
      "id": "06b89266-514d-486d-9dbb-5017a36245d4",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "jsCode": "// initialize staticData object\nconst workflowStaticData = $getWorkflowStaticData('global');\n\n// initialize accessToken on staticData if it desn't exist yet\nif (!workflowStaticData.hasOwnProperty('WppConnectToken')) {\n  workflowStaticData.WppConnectToken = $input.first().json.token\n}\n\nreturn [\n  {\n      // data: $input.all(),\n      accessToken: workflowStaticData.WppConnectToken,\n      // today: $today\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        300,
        -280
      ],
      "id": "ee822bf9-9c85-4768-b268-9b1bb500a83d",
      "name": "Code"
    },
    {
      "parameters": {
        "content": "## Set new Wpp Connect session\nSave it to N8n global memory",
        "height": 580,
        "width": 940
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -320,
        -420
      ],
      "typeVersion": 1,
      "id": "71caca25-8220-4570-8bc8-f7f3e1039f3b",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://10.194.75.13:7607/api/wanghley/start-session",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -140,
        -60
      ],
      "id": "33e4df90-2703-4c2e-bd33-111e5c761ebd",
      "name": "HTTP Request1",
      "credentials": {
        "httpBearerAuth": {
          "id": "CTrHgnv6ieD38FSb",
          "name": "WppConnect token"
        }
      }
    },
    {
      "parameters": {
        "url": "http://10.194.75.13:7607/api/wanghley/qrcode-session",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        80,
        -60
      ],
      "id": "ae595e07-0bb4-413e-87b9-46ce4e56a78a",
      "name": "HTTP Request2",
      "credentials": {
        "httpBearerAuth": {
          "id": "CTrHgnv6ieD38FSb",
          "name": "WppConnect token"
        }
      }
    }
  ],
  "pinData": {},
  "repo_name": "n8n-automations",
  "repo_owner": "wanghley",
  "repo_path": "",
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-05-21T19:44:45.113Z",
  "versionId": "0221b19f-7bbc-424c-bb8d-5286de398dbb"
}