workflows/AI-Powered Inbox Assistant.json
{"createdAt":"2025-03-02T07:31:57.850Z","updatedAt":"2025-03-02T07:32:25.521Z","id":"nhPBZmNnw4umYOY9","name":"AI-Powered Inbox Assistant","active":false,"nodes":[{"parameters":{"pollTimes":{"item":[{"mode":"everyX","value":5,"unit":"minutes"}]},"simple":false,"filters":{"readStatus":"unread"},"options":{}},"type":"n8n-nodes-base.gmailTrigger","typeVersion":1.2,"position":[-720,960],"id":"0a246b9b-c6bc-4921-9f07-cd2621ed6d76","name":"Gmail Trigger"},{"parameters":{"inputText":"={{$json.text }}","categories":{"categories":[{"category":"Education","description":"dedicated to academic activities, coursework, or university-related emails, possibly containing sub-labels for different subjects or educational programs."},{"category":"Networking","description":"A label for emails related to professional connections, events, collaborations, or maintaining relationships within a network for career and personal growth."},{"category":"Notes","description":"A general label for emails that might include personal memos, reminders, or information to be saved for future reference."},{"category":"Personal","description":"A category for non-work-related emails, such as those involving family, friends, personal events, or hobbies."},{"category":"Utilities","description":"Administrative and functional emails that help you manage applications, track responses, and organize resources. Provides a comprehensive system for task management."},{"category":"Work","description":"A category for emails associated with professional responsibilities, projects, and tasks, including communication with colleagues or clients."},{"category":"Education/Courses","description":"Emails within the Education category that include class schedules, assignments, grades, or any other communications directly tied to ongoing coursework."},{"category":"Education/Newsletter","description":"Subscriptions and updates from academic institutions or organizations, focusing on insights, announcements, or academic trends, falling under Education."},{"category":"Education/Research","description":"Correspondence within the Education category that pertains to research initiatives, including collaborations, proposals, and project progress."},{"category":"Networking/Communities","description":"Part of the Networking category, this subcategory includes group announcements, organization updates, or collaborative discussions from professional or academic communities."},{"category":"Networking/Conferences","description":"Emails under Networking that provide details about professional events, workshops, or conferences, including registration, agendas, or post-event follow-ups."},{"category":"Networking/Mentoring","description":"Networking-related communications where guidance is exchanged, either as a mentor or mentee, to foster professional or personal development."},{"category":"Utilities/Applications","description":"A Utilities subcategory for updates or communications about job, program, or scholarship applications, tracking progress and decisions."},{"category":"Utilities/Awaiting Response","description":"Emails under Utilities where further action or reply is pending, helping ensure follow-ups are completed in a timely manner."},{"category":"Utilities/Resources","description":"Saved emails in the Utilities category containing critical links, documents, or reference materials for various tasks or projects."},{"category":"Utilities/TODO","description":"Actionable emails in the Utilities category containing tasks, deadlines, or reminders for planned activities."},{"category":"Work/Ambulis","description":"A Work subcategory for project-specific emails tied to Ambulis, covering managerial, technical, and team correspondence. Crimson: Emails within the Work category that are specific to the Crimson project, tracking progress, tasks, or team updates for this initiative. Let me know if you'd like further refinements or additional details!"}]},"options":{"multiClass":true,"systemPromptTemplate":"=Classify the following email into a maximum of three categories from the list: {categories}. The email may be in Portuguese, English, or another language. Return a JSON object where each applicable category is set to true, and all others are set to false. If a category has subcategories (e.g., \"education\" and \"education/course\"), select the most specific subcategory. Ensure the following conditions: 1. No more than three categories can be selected as true. 2. All other categories must be false. 3. If a subcategory is applicable, the parent category should not be selected. The output should strictly follow the format below, without any additional text or explanation. You must return all the options even if they are false! Generathe the full json structure! Remember to open and close brackets.","enableAutoFixing":false}},"type":"@n8n/n8n-nodes-langchain.textClassifier","typeVersion":1,"position":[80,480],"id":"55d114fa-19c1-413c-b470-76d53320a5c3","name":"Text Classifier"},{"parameters":{"model":"llama-3.1-8b-instant","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGroq","typeVersion":1,"position":[300,740],"id":"97a528c1-ba44-4934-99f4-9060b4862bdc","name":"Groq Chat Model"},{"parameters":{"operation":"addLabels","messageId":"={{ $json.id }}","labelIds":["Label_7225625494262672486"]},"type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[660,260],"id":"f0e94719-0620-4a91-8556-9fd8058e395a","name":"Gmail","webhookId":"68722dad-3c54-44b5-b955-df2cf47251c2"},{"parameters":{"operation":"addLabels","messageId":"={{ $json.id }}","labelIds":["Label_869325825564874002"]},"type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[660,460],"id":"9f600f59-d4b1-4257-b714-c2193f5e7232","name":"Gmail1","webhookId":"68722dad-3c54-44b5-b955-df2cf47251c2"},{"parameters":{"operation":"addLabels","messageId":"={{ $json.id }}","labelIds":["Label_28"]},"type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[880,260],"id":"f9b611be-5501-44c6-ba62-c793fac821f8","name":"Gmail2","webhookId":"68722dad-3c54-44b5-b955-df2cf47251c2"},{"parameters":{"operation":"addLabels","messageId":"={{ $json.id }}","labelIds":["Label_3781274566468432589"]},"type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[1340,260],"id":"b6f51598-1da5-467a-b5e4-f5d72e4158e8","name":"Gmail3","webhookId":"68722dad-3c54-44b5-b955-df2cf47251c2"},{"parameters":{"operation":"addLabels","messageId":"={{ $json.id }}","labelIds":["Label_6662256127681068690"]},"type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[880,460],"id":"c46fe649-88c0-4ae4-9de7-c4d538fedca8","name":"Gmail4","webhookId":"68722dad-3c54-44b5-b955-df2cf47251c2"},{"parameters":{"operation":"addLabels","messageId":"={{ $json.id }}","labelIds":["Label_7738298508829373394"]},"type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[1120,460],"id":"46de6a33-b9b3-43eb-90d6-600f65ddd20a","name":"Gmail5","webhookId":"68722dad-3c54-44b5-b955-df2cf47251c2"},{"parameters":{"operation":"addLabels","messageId":"={{ $json.id }}","labelIds":["Label_8731770445875604397"]},"type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[640,660],"id":"7e00bff4-1e2c-4b9f-bb2a-f559cccb1c73","name":"Gmail6","webhookId":"68722dad-3c54-44b5-b955-df2cf47251c2"},{"parameters":{"operation":"addLabels","messageId":"={{ $json.id }}","labelIds":["Label_6944571560530337743"]},"type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[1580,460],"id":"6dd17731-100d-4d24-9325-bc41be86b8bf","name":"Gmail7","webhookId":"68722dad-3c54-44b5-b955-df2cf47251c2"},{"parameters":{"operation":"addLabels","messageId":"={{ $json.id }}","labelIds":["Label_298929642051498427"]},"type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[1320,660],"id":"2d45ee41-a5ed-42c7-ae09-bebc84d546e7","name":"Gmail8","webhookId":"68722dad-3c54-44b5-b955-df2cf47251c2"},{"parameters":{"operation":"addLabels","messageId":"={{ $json.id }}","labelIds":["Label_5842708923117567241"]},"type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[880,660],"id":"e49eaf80-eb40-4fb0-aa2d-9557fd4d5b1f","name":"Gmail9","webhookId":"68722dad-3c54-44b5-b955-df2cf47251c2"},{"parameters":{"operation":"addLabels","messageId":"={{ $json.id }}","labelIds":["Label_6276269302797062518"]},"type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[1820,460],"id":"d5aa21be-ea32-491e-8b28-4afe1b7aeddc","name":"Gmail10","webhookId":"68722dad-3c54-44b5-b955-df2cf47251c2"},{"parameters":{"operation":"addLabels","messageId":"={{ $json.id }}","labelIds":["Label_7147886757158499429"]},"type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[1820,260],"id":"7d624354-dc5c-4094-af39-84dac17366db","name":"Gmail11","webhookId":"68722dad-3c54-44b5-b955-df2cf47251c2"},{"parameters":{"operation":"addLabels","messageId":"={{ $json.id }}","labelIds":["Label_1086968529714351955"]},"type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[1120,260],"id":"2cb2713b-fd5f-4c4b-9205-9fb87caac3e5","name":"Gmail12","webhookId":"68722dad-3c54-44b5-b955-df2cf47251c2"},{"parameters":{"operation":"addLabels","messageId":"={{ $json.id }}","labelIds":["Label_4565967353164076287"]},"type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[1580,260],"id":"cc3c1e06-e12e-4e98-99f3-937c96c50ed9","name":"Gmail13","webhookId":"68722dad-3c54-44b5-b955-df2cf47251c2"},{"parameters":{"operation":"addLabels","messageId":"={{ $json.id }}","labelIds":["Label_706166745824918544"]},"type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[1340,440],"id":"68b4817d-5496-485b-8ae6-47a493dbc4eb","name":"Gmail14","webhookId":"68722dad-3c54-44b5-b955-df2cf47251c2"},{"parameters":{"operation":"addLabels","messageId":"={{ $json.id }}","labelIds":["Label_2719778423448946322"]},"type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[1100,660],"id":"84ad2779-9ec7-4835-b20e-e8505bda55cb","name":"Gmail15","webhookId":"68722dad-3c54-44b5-b955-df2cf47251c2"},{"parameters":{"operation":"addLabels","messageId":"={{ $json.id }}","labelIds":["Label_4762512605769313378"]},"type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[1580,660],"id":"015232e6-9ebd-4a8a-890b-cba501338002","name":"Gmail16","webhookId":"68722dad-3c54-44b5-b955-df2cf47251c2"},{"parameters":{"content":"# Email Labelizer Process\n\nThe **Email Labelizer** process is a crucial component of the AI-Powered Inbox Assistant. It intelligently categorizes incoming emails based on their content, ensuring that emails are organized efficiently and relevant actions can be taken. This process involves analyzing the content of emails, identifying key themes or topics, and then automatically assigning appropriate labels to each message. \n","height":920,"width":2100},"type":"n8n-nodes-base.stickyNote","position":[0,0],"typeVersion":1,"id":"1fb621f1-4f03-4c41-a10e-c155520511f8","name":"Sticky Note"},{"parameters":{"content":"# email received trigger","height":660,"width":300,"color":4},"type":"n8n-nodes-base.stickyNote","position":[-800,720],"typeVersion":1,"id":"893f2bee-6e97-4cae-a60e-a5b61120d905","name":"Sticky Note4"},{"parameters":{"content":"## Categorize in labels\nalso sublabels","height":660,"width":400,"color":4},"type":"n8n-nodes-base.stickyNote","position":[40,180],"typeVersion":1,"id":"72d10c36-09f6-4ca3-8d02-f2aefb5d5feb","name":"Sticky Note5"},{"parameters":{"content":"## and set labels!","height":680,"width":1520,"color":4},"type":"n8n-nodes-base.stickyNote","position":[500,180],"typeVersion":1,"id":"69466029-9101-4b12-913f-97941df14a64","name":"Sticky Note6"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"53849246-ad32-4845-9976-9f9688f5a6f2","operator":{"type":"boolean","operation":"true","singleValue":true},"leftValue":"={{ $json.needsReply }}","rightValue":"true"}],"combinator":"and"},"options":{}},"id":"4833a90f-74ed-470c-8c45-8351fe705099","name":"If Needs Reply","type":"n8n-nodes-base.if","position":[480,1320],"typeVersion":2},{"parameters":{"jsonSchema":"{\n  \"type\": \"object\",\n  \"properties\": {\n    \"needsReply\": {\n      \"type\": \"boolean\"\n      }\n  },\n  \"required\": [\"needsReply\"]\n}\n"},"id":"802715f0-f16a-437f-b41b-70a7d70b6dcb","name":"JSON Parser","type":"@n8n/n8n-nodes-langchain.outputParserStructured","position":[360,1520],"typeVersion":1},{"parameters":{"resource":"draft","subject":"=Re: {{ $('Gmail Trigger').item.json.headers.subject }}","emailType":"html","message":"={{ $json.text.replace(/\\n/g, \"<br />\\n\") }}","options":{"threadId":"={{ $('Gmail Trigger').item.json.threadId }}","sendTo":"={{ $('Gmail Trigger').item.json.headers.from }}"}},"id":"817e204b-d580-489a-ac3a-f9be81169d46","name":"Gmail - Create Draft","type":"n8n-nodes-base.gmail","position":[1140,1320],"typeVersion":2.1,"webhookId":"f71f983c-789a-4c16-9656-152e6584f395"},{"parameters":{"prompt":"=Subject: {{ $json.subject }}\nMessage:\n{{ $json.textAsHtml }} ","messages":{"messageValues":[{"message":"Analyze an email to determine if it requires a reply based on these criteria:\\n1. Is it part of an ongoing conversation?\\n2. Does it include personal outreach or inquiry?\\n3. Does it contain a direct or implied request for action or information?\\nIf any condition is met, set `\"needsReply\"` to `true`.\\nIf the email is purely promotional, irrelevant, or requires no engagement, set `\"needsReply\"` to `false`.\\nProvide output in JSON format:\\n```json\\n{\\n  \"needsReply\": true or false,\\n  \"reason\": \"Brief explanation outlining why the email does or does not require a reply.\"\\n}\\n``` Ensure the assessment is thorough, accurate, and concise."}]}},"id":"e1b80872-3185-4821-8be7-7199a3380dc4","name":"Assess if message needs a reply","type":"@n8n/n8n-nodes-langchain.chainLlm","position":[160,1320],"typeVersion":1.3},{"parameters":{"promptType":"define","text":"=Subject: {{ $('Gmail Trigger').item.json.subject }}\nMessage: {{ $('Gmail Trigger').item.json.textAsHtml }}","messages":{"messageValues":[{"message":"You are Wanghley's professional assistant tasked with drafting email replies based on the provided text. Your goal is to generate replies that directly address the inquiry or request in the email, without restating or summarizing the email's content. Begin the reply with \"Hello,\" and end with \"Best, Wanghley.\" Always match the language of the original email, whether it is in Portuguese, English, or another language. Ensure the reply includes a greeting at the beginning and a signature at the end. Use simple and professional HTML if necessary, or plain text otherwise. Return two possible responses: one positive and one negative, separated by \"--------OR--------\", for me to decide which to use. Each response should address the inquiry or request directly, with no additional explanations or context. Only the relevant, direct reply message addressing the inquiry or request should be included."}]}},"id":"b99c50ba-61a3-4125-b1e1-f537a23e51d9","name":"Generate email reply","type":"@n8n/n8n-nodes-langchain.chainLlm","position":[740,1280],"typeVersion":1.4},{"parameters":{"model":"llama-3.3-70b-versatile","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGroq","typeVersion":1,"position":[200,1560],"id":"189b46ff-4899-425c-91f2-5bbc7c075519","name":"Groq Chat Model2"},{"parameters":{"model":"llama-3.3-70b-versatile","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGroq","typeVersion":1,"position":[900,1700],"id":"5651b850-5356-4953-9197-a3e827273e88","name":"Groq Chat Model1"},{"parameters":{"content":"## ... that Needs a Reply\n","height":474,"width":524,"color":4},"id":"5b965824-d545-4e9e-9aab-7fb66c764669","name":"Sticky Note8","type":"n8n-nodes-base.stickyNote","position":[140,1220],"typeVersion":1},{"parameters":{"content":"## Generate a Reply","height":474,"width":364,"color":4},"id":"5b057d42-c7a0-4c77-953d-9891fd184b21","name":"Sticky Note9","type":"n8n-nodes-base.stickyNote","position":[680,1220],"typeVersion":1},{"parameters":{"content":"## ...as a Draft in the conversation","height":474,"width":364,"color":4},"id":"30be05d2-0566-4447-942d-a085cda2648f","name":"Sticky Note10","type":"n8n-nodes-base.stickyNote","position":[1060,1220],"typeVersion":1},{"parameters":{"content":"# AI Auto-Responder Process\n\nAn AI-powered tool that automatically generates concise and relevant draft replies to incoming emails, streamlining your inbox management.","height":800,"width":1540},"type":"n8n-nodes-base.stickyNote","position":[0,1040],"typeVersion":1,"id":"506b63af-96cd-4527-b06c-bf06e1cb3537","name":"Sticky Note1"},{"parameters":{"options":{"model":"command"}},"type":"@n8n/n8n-nodes-langchain.lmCohere","typeVersion":1,"position":[380,1740],"id":"170806a4-00e1-43e3-ac7f-77cba36cd808","name":"Cohere Model"},{"parameters":{"options":{"model":"c4ai-aya-expanse-32b"}},"type":"@n8n/n8n-nodes-langchain.lmCohere","typeVersion":1,"position":[760,1500],"id":"2ca5272e-4b9e-43c0-b191-31f3e8ee37de","name":"Cohere Model1"},{"parameters":{"options":{"model":"c4ai-aya-expanse-32b"}},"type":"@n8n/n8n-nodes-langchain.lmCohere","typeVersion":1,"position":[100,700],"id":"f1db2db4-d7c1-4d4b-82ab-f3b463fdd03f","name":"Cohere Model2"},{"parameters":{"from":"+14155238886","to":"+19843120046","toWhatsapp":true,"message":"=Hi,  You have a new email awaiting your reply. I created a reply for you. {{ $('Gmail Trigger').item.json.subject }}","options":{}},"type":"n8n-nodes-base.twilio","typeVersion":1,"position":[500,1160],"id":"fb19b602-7bcf-4e3f-a525-f708f6341e35","name":"Twilio"}],"connections":{"Gmail Trigger":{"main":[[{"node":"Text Classifier","type":"main","index":0},{"node":"Assess if message needs a reply","type":"main","index":0}]]},"Text Classifier":{"main":[[{"node":"Gmail","type":"main","index":0}],[{"node":"Gmail1","type":"main","index":0}],[{"node":"Gmail2","type":"main","index":0}],[{"node":"Gmail3","type":"main","index":0}],[{"node":"Gmail4","type":"main","index":0}],[{"node":"Gmail5","type":"main","index":0}],[{"node":"Gmail6","type":"main","index":0}],[{"node":"Gmail7","type":"main","index":0}],[{"node":"Gmail8","type":"main","index":0}],[{"node":"Gmail9","type":"main","index":0}],[{"node":"Gmail10","type":"main","index":0}],[{"node":"Gmail11","type":"main","index":0}],[{"node":"Gmail12","type":"main","index":0}],[{"node":"Gmail13","type":"main","index":0}],[{"node":"Gmail15","type":"main","index":0}],[{"node":"Gmail14","type":"main","index":0}],[{"node":"Gmail16","type":"main","index":0}]]},"If Needs Reply":{"main":[[{"node":"Generate email reply","type":"main","index":0},{"node":"Twilio","type":"main","index":0}]]},"JSON Parser":{"ai_outputParser":[[{"node":"Assess if message needs a reply","type":"ai_outputParser","index":0}]]},"Assess if message needs a reply":{"main":[[{"node":"If Needs Reply","type":"main","index":0}]]},"Generate email reply":{"main":[[{"node":"Gmail - Create Draft","type":"main","index":0}]]},"Groq Chat Model2":{"ai_languageModel":[[{"node":"Assess if message needs a reply","type":"ai_languageModel","index":0}]]},"Cohere Model1":{"ai_languageModel":[[{"node":"Generate email reply","type":"ai_languageModel","index":0}]]},"Cohere Model2":{"ai_languageModel":[[{"node":"Text Classifier","type":"ai_languageModel","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"173af707-542f-4dbd-98d9-4e69a14269bd","triggerCount":0,"tags":[{"createdAt":"2025-03-02T07:32:12.358Z","updatedAt":"2025-03-02T07:32:12.358Z","id":"lfClZh3ZbQFzq930","name":"AI"},{"createdAt":"2025-03-02T07:32:18.293Z","updatedAt":"2025-03-02T07:32:18.293Z","id":"o7mHZi09dFMHhI09","name":"Agent"}]}