workflows/My workflow.json
{"createdAt":"2025-03-02T07:28:50.549Z","updatedAt":"2025-03-02T07:28:50.549Z","id":"xP2WA8fVihrv1ck5","name":"My workflow","active":false,"nodes":[{"parameters":{"resource":"file","operation":"get","owner":"={{$node[\"Globals\"].json[\"repo\"][\"owner\"]}}","repository":"={{$node[\"Globals\"].json[\"repo\"][\"name\"]}}","filePath":"={{$node[\"Globals\"].json[\"repo\"][\"path\"]}}{{$json[\"name\"]}}.json","asBinaryProperty":false,"additionalParameters":{}},"id":"d2ca637c-961a-4196-bfd0-d25ed2470a82","name":"GitHub","type":"n8n-nodes-base.github","position":[520,180],"typeVersion":1,"alwaysOutputData":true,"credentials":{"githubApi":{"id":"yIMJnRYTsTinNya1","name":"GitHub account"}},"continueOnFail":true},{"parameters":{"values":{"string":[{"name":"repo.owner","value":"shashikanth171"},{"name":"repo.name","value":"n8n-backup"},{"name":"repo.path","value":"workflows/"}]},"options":{}},"id":"aab27e89-4631-44aa-b5b9-498e9cf12d12","name":"Globals","type":"n8n-nodes-base.set","position":[-180,100],"typeVersion":1},{"parameters":{"filters":{},"requestOptions":{}},"id":"ab6df383-7cf7-4a7e-9c9a-a8bb8530402c","name":"n8n","type":"n8n-nodes-base.n8n","position":[60,100],"typeVersion":1,"credentials":{"n8nApi":{"id":"G6HRrBOB2izWju5o","name":"n8n account"}}},{"parameters":{"options":{}},"id":"535d4dd9-59eb-4feb-8bf8-f973d3970cd0","name":"Loop Over Items","type":"n8n-nodes-base.splitInBatches","position":[280,100],"executeOnce":false,"typeVersion":3},{"parameters":{"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"combinator":"and","conditions":[{"id":"16a9182d-059d-4774-ba95-654fb4293fdb","operator":{"type":"string","operation":"notExists","singleValue":true},"leftValue":"={{ $json.error }}","rightValue":""}]},"options":{}},"id":"c623c630-2efa-424a-90d2-533c389f3947","name":"If","type":"n8n-nodes-base.if","position":[720,180],"typeVersion":2.2},{"parameters":{"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"combinator":"and","conditions":[{"id":"e0c66624-429a-4f1f-bf7b-1cc1b32bad7b","operator":{"type":"string","operation":"notEquals"},"leftValue":"={{ $json.content }}","rightValue":"={{ $('Loop Over Items').item.json.toJsonString() }}"}]},"options":{}},"id":"c214be74-db2c-4ac5-92f8-b8aa0899158a","name":"If1","type":"n8n-nodes-base.if","position":[1600,460],"typeVersion":2.2},{"parameters":{"jsCode":"let items = $input.all()\n\nfor (item of items) {\n    item.json.content = Buffer.from(item.json.content, 'base64').toString('utf8')\n}\n\nreturn items;\n"},"id":"5c4e730c-bdc6-4002-81ce-44c53c58bc55","name":"Code","type":"n8n-nodes-base.code","position":[1280,160],"typeVersion":2},{"parameters":{"resource":"file","owner":"={{$node[\"Globals\"].json[\"repo\"][\"owner\"]}}","repository":"={{$node[\"Globals\"].json[\"repo\"][\"name\"]}}","filePath":"={{$node[\"Globals\"].json[\"repo\"][\"path\"]}}{{ $('Loop Over Items').item.json.name }}.json","fileContent":"={{ $('Loop Over Items').item.json.toJsonString()  }}","commitMessage":"=[N8N Backup] {{ $('Loop Over Items').item.json.name }}.json"},"id":"e5a86fb5-c14c-4250-9e5f-6a0ccff86617","name":"Create new file and commit","type":"n8n-nodes-base.github","position":[900,340],"typeVersion":1,"credentials":{"githubApi":{"id":"yIMJnRYTsTinNya1","name":"GitHub account"}}},{"parameters":{"resource":"file","operation":"edit","owner":"={{$node[\"Globals\"].json[\"repo\"][\"owner\"]}}","repository":"={{$node[\"Globals\"].json[\"repo\"][\"name\"]}}","filePath":"={{$node[\"Globals\"].json[\"repo\"][\"path\"]}}{{ $('Loop Over Items').item.json.name }}.json","fileContent":"={{ $('Loop Over Items').item.json.toJsonString()  }}","commitMessage":"=[N8N Backup] {{ $('Loop Over Items').item.json.name }}.json"},"id":"dfba608e-07ab-40c4-9174-ac24d2637b89","name":"Update file content and commit","type":"n8n-nodes-base.github","position":[1960,660],"typeVersion":1,"credentials":{"githubApi":{"id":"yIMJnRYTsTinNya1","name":"GitHub account"}}},{"parameters":{"rule":{"interval":[{"field":"minutes"}]}},"id":"4b781efe-7e42-4454-8759-f3b124b2caac","name":"Schedule Trigger","type":"n8n-nodes-base.scheduleTrigger","position":[-400,100],"typeVersion":1.2},{"parameters":{"content":"Workflow changes committed to the repository","height":80},"id":"97b6841f-90b8-4e19-b5da-37f18be8c5bc","name":"Sticky Note","type":"n8n-nodes-base.stickyNote","position":[2120,680],"typeVersion":1},{"parameters":{"content":"Check if there are any changes in the workflow","height":80},"id":"7d138902-e7b5-4ce0-a0cb-81e3ed89791e","name":"Sticky Note1","type":"n8n-nodes-base.stickyNote","position":[1740,460],"typeVersion":1},{"parameters":{"content":"Create a new file for the workflow","height":80},"id":"8ba0cb88-bafc-4d7f-a90c-b56128d8df19","name":"Sticky Note2","type":"n8n-nodes-base.stickyNote","position":[1020,360],"typeVersion":1},{"parameters":{"content":"Check if file exists in the repository","height":80},"id":"ad80aca0-8bfd-4331-b47c-0f8ec75f1637","name":"Sticky Note3","type":"n8n-nodes-base.stickyNote","position":[720,80],"typeVersion":1},{"parameters":{"content":"Convert the file contents to JSON string","height":80},"id":"c773f4a7-48b6-480d-9e19-86f0ce7bd980","name":"Sticky Note4","type":"n8n-nodes-base.stickyNote","position":[1220,60],"typeVersion":1},{"parameters":{"content":"Get all workflows","height":80},"id":"42b43805-05c3-4eb8-935d-5b19b99d6949","name":"Sticky Note5","type":"n8n-nodes-base.stickyNote","position":[0,0],"typeVersion":1},{"parameters":{"content":"Set variables","height":80},"id":"6c3911de-8f66-471c-8307-b5b727a95e42","name":"Sticky Note6","type":"n8n-nodes-base.stickyNote","position":[-260,240],"typeVersion":1}],"connections":{"If":{"main":[[{"node":"Code","type":"main","index":0}],[{"node":"Create new file and commit","type":"main","index":0}]]},"If1":{"main":[[{"node":"Update file content and commit","type":"main","index":0}],[{"node":"Loop Over Items","type":"main","index":0}]]},"n8n":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Code":{"main":[[{"node":"If1","type":"main","index":0}]]},"GitHub":{"main":[[{"node":"If","type":"main","index":0}]]},"Globals":{"main":[[{"node":"n8n","type":"main","index":0}]]},"Loop Over Items":{"main":[[],[{"node":"GitHub","type":"main","index":0}]]},"Schedule Trigger":{"main":[[{"node":"Globals","type":"main","index":0}]]},"Create new file and commit":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Update file content and commit":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"26b0e4df-5753-4750-aae3-42e178c17821","triggerCount":0,"tags":[]}